/*
* ? The max-width below seems to reflect half the value
* that makes the change in the layout.  Why?
*/

@media screen and (max-width: 418px) {
  .container {
    flex-direction: column;
    margin: 0 auto;
  }

  .btn {
    padding: 0
  }
  .btn-reset {
    font-size: xx-small;
    height: 25px;
    padding-top: 0;
  }
}
