/*
* ? The max-width below seems to reflect half the value
* that makes the change in the layout.  Why?
*/

@media screen and (max-width: 418px) {
  .container {
    flex-direction: column;
    height: 85vh;
    margin: 0 auto;

  }

  .btn-reset {
    border-bottom: 5px solid #B2479A;
    border-top: 5px solid #B2479A;
    font-size: medium;
    height: 42px;
    padding-top: 0;
  }

  .btn-reset:hover {
    background: #B2479A;
    border-bottom: 5px solid #CC7FB5;
    border-top: 5px solid #CC7FB5;
  }
}
